<div class="main">

    <div class="section">
        <div class="img-wrapper">
            <img [src]="saleData.gallery[0]" alt="" class="img">
            <div class="img-overlay">
                <i class="icon fa-solid fa-camera"></i>
                <p class="text">{{saleData.gallery.length}}</p>
            </div>
        </div>
    </div>
    <div class="meta">
        <div class="meta-item question">
            <p class="text bold">When ?</p>
        </div>
        <div class="meta-item">
            <i class="icon light fa-regular fa-calendar"></i>
            <p class="text thin">
                {{saleData.start_date|formatDate}}<sup>{{saleData.start_date|formatSup}}</sup> 
                - {{saleData.end_date|formatDate}}<sup>{{saleData.end_date | formatSup}}</sup>
            </p>
        </div>
        <div class="meta-item question">
            <p class="text bold">Where?</p>
        </div>
        <div class="meta-item">
            <i class="icon light fa-solid fa-map-location-dot"></i>
            <p class="text thin">{{saleData.address}}</p>
        </div>
        <div class="meta-item">
            <i class="icon light fa-solid fa-boxes-stacked"></i>
            <p class="text light thin small">{{saleData.itemCount}} items listed</p>
        </div> 
        <div class="meta-item">
            <i class="icon light fa-regular fa-pen-to-square"></i>
            <p class="text light thin small">Last updated {{saleData.updatedAt | formatDate:"difference"}}</p>
        </div>
        <div class="meta-item">
            <i class="icon light fa-regular fa-eye"></i>
            <p class="text light thin small">Total Views: {{saleData.viewCount}}</p>
        </div>
    </div>
    <div class="text-section">
        <!-- Limit to 245 characters long. -->
        <div class="text-item">
            <p class="text label ">Description</p>
            <p class="text desc thin">
                {{saleData.description.substring(0,245)}}
                <span *ngIf="saleData.description.length>244">...</span>
            </p>
        </div>
    </div>
</div>
