<div class="main">

    <div class="section">
        <div class="img-wrapper">
            <img src="https://activerain.com/image_store/uploads/agents/ballenteam/files/Garage%20Sale.jpg" alt="" class="img">
            <div class="img-overlay">
                <i class="icon fa-solid fa-camera"></i>
                <p class="text">103+</p>
            </div>
        </div>
    </div>
    <div class="meta">
        <div class="meta-item question">
            <p class="text bold">When ?</p>
        </div>
        <div class="meta-item">
            <i class="icon light fa-regular fa-calendar"></i>
            <p class="text thin">Oct 17 <sup>th</sup> - Oct 19<sup>th</sup></p>
        </div>
        <div class="meta-item question">
            <p class="text bold">Where?</p>
        </div>
        <div class="meta-item">
            <i class="icon light fa-solid fa-map-location-dot"></i>
            <p class="text thin">117 West windsor Ave</p>
        </div>
        <div class="meta-item">
            <i class="icon light fa-solid fa-boxes-stacked"></i>
            <p class="text light thin small">More than 40 items listed</p>
        </div>
        <div class="meta-item">
            <i class="icon light fa-regular fa-pen-to-square"></i>
            <p class="text light thin small">Last updated 4 days ago</p>
        </div>
        <div class="meta-item">
            <i class="icon light fa-regular fa-eye"></i>
            <p class="text light thin small">Total Views: 34121</p>
        </div>
    </div>
    <div class="text-section">
        <!-- Limit to 245 characters long. -->
        <div class="text-item">
            <p class="text label ">Description</p>
            <p class="text desc thin">
                Amazing garage sale going on, everything has to go! Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus laudantium consequuntur magni doloremque eius praesentium nihil minus est suscipit aut deleniti deserunt ipsa ad sunt ...
            </p>
        </div>
    </div>
</div>
