<div class="item-container">
    <div class="img-main">
        <img class="img" src="https://www.taylorguitars.com/sites/default/files/images/2022-05/Taylor-724ce-1201272186-Gallery-01-2022.jpg" alt="">
    </div>
    <div class="item-title">
        <!-- No more than 30 characters for the name/title -->
        <p class="text">1990 Eric Clapton Electric guitar </p>
    </div>
    <div class="item-desc">
        <div class="item-section">
            <p class="text small thin">The only guitar that Eric played... 
                He gave it to me because I was his biggest fan and he was
                the one that paid... <span id="seemore">See More ></span>
            </p>
        </div>
        <div class="item-section">
            <p class="text">Price: $13.95</p>
        </div>
    </div>
</div>