<div class="item-container">
    <div class="img-main">
        <!-- https://www.taylorguitars.com/sites/default/files/images/2022-05/Taylor-724ce-1201272186-Gallery-01-2022.jpg -->
        <img class="img" [src]="itemData.gallery[0]" alt="">
    </div>
    <div class="item-title">
        <!-- No more than 30 characters for the name/title -->
        <p class="text">{{itemData.name}} </p>
    </div>
    <div class="item-desc">
        <div style="height: 72px" class="item-section">
            <p class="text small thin">
                {{itemData.description.substring(0,100)}} <span id="seemore">See More ></span>
            </p>
        </div>
        <div class="item-section">
            <p class="text">Price: ${{itemData.price}}</p>
        </div>
    </div>
</div>