<div class="navbar flex sp-around">
    <div class="nav-group-left flex center-xy">
        <div  class="nav-item">
            <p (click)="onNavigate(['home'])" class="nav-logo text bold">GarageSales!</p>
        </div>
        <div  class="nav-item">
            <p (click)="onNavigate(['catalogue-search'])" href="#" class="nav-link">Catalogue</p>
        </div>
    </div>
    <div *ngIf="!isLoggedIn" class="nav-group-right flex center-xy">
        <button (click)="onNavigate(['login'])" mat-raised-button color="none">Login</button>
        <button mat-raised-button 
        style="background-color: #5e9544!important; margin-left: 10px; color: white;"
        (click)="onNavigate(['signup'])"
        >Sign Up</button>
    </div>
    
</div>
