<div class="navbar flex sp-around">
    <div class="nav-group-left flex center-xy">
        <div class="nav-item">
            <p class="nav-logo text bold">GarageSales!</p>
        </div>
        <div class="nav-item">
            <a href="#" class="nav-link">Sales</a>
        </div>
        <div class="nav-item">
            <a href="" class="nav-link">Items</a>
        </div>
    </div>
    <div class="nav-group-right flex center-xy">
        <button mat-raised-button color="basic">Login</button>
    </div>
</div>
