<div class="navbar flex sp-around">
    <div class="nav-group-left flex center-xy">
        <div  class="nav-item">
            <p (click)="onNavigate(['home'])" class="nav-logo text bold">GarageSales!</p>
        </div>
        <div  class="nav-item">
            <p (click)="onNavigate(['catalogue-search'])" href="#" class="nav-link">Sales</p>
        </div>
        <div  class="nav-item">
            <p (click)="onNavigate(['catalogue-search'])"  class="nav-link">Items</p>
        </div>
    </div>
    <div class="nav-group-right flex center-xy">
        <button mat-raised-button color="basic">Login</button>
    </div>
</div>
