<div class="main">

    <div [formGroup]="signupForm" class="signup-form">
        <div class="signup-logo">
            <p class="text intro">Garage Sale</p>
        </div>
        <div class="title-wrapper">
            <p class="text title">Sign Up</p>
        </div>
        <div class="input-container">
            <label for="full_name">Full Name <span class="required">*</span></label>
            <input formControlName="fullName" type="text" class="form-input">
        </div>
        <div class="input-container">
            <label for="full_name">email <span class="required">*</span></label>
            <input formControlName="email" id="email" type="email" class="form-input">
        </div>
        <div class="input-container">
            <label for="full_name">Password <span class="required">*</span></label>
            <input formControlName="password" type="password" class="form-input">
        </div>
        <div class="input-container">
            <label for="full_name">Phone <span class="required">*</span></label>
            <input formControlName="phone" type="tel" class="form-input">
        </div>
        <div class="input-container">
            <label for="full_name">Profile Image <span class="required">*</span></label>
            <input 
            formControlName="profileImg"
             type="text" 
             class="form-input"
             placeholder="Profile Image goes here"
             >
        </div>
        <div class="submit-container">
            <button
            mat-ripple
            matRippleColor="rgba(0, 0, 0, 0.083)"
            (click)="null"
            >Create Account</button>
        </div>
    </div>
</div>