.main{
    height: 100vh;
    width: 100%;
    ;
}


.signup-form{
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;    
    background: white;
    overflow: hidden;
    margin-top: 40px;
}

.signup-logo{
    text-align: center;
    background: var(--dark);
    color: white;
    padding: 20px 0px;
}

.required, .error-msg{
    color: red;
}

.title-wrapper{
    padding: 30px 0 20px 0px;
    text-align: center;
    /* border-bottom: 2px solid #eee; */
}

.left-icon, .right-icon {
    color: gray;
    position: absolute;
    top: 60px;
}

.left-icon{
    left: 32px;
}

.right-icon{
    right: 40px;
    cursor: pointer;
}

.right-icon:hover{color: black;}

.input-container{
    position: relative;
    padding: 20px
    ;
}

.input-container>*{
    display: inline-block;
}


/*borrowed css from login.component.css*/
.form-input{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    outline: none;
    background: var(--white-2);
    border: none;
    transition:  box-shadow 100ms linear;
    border-radius: 4px;
    margin: 10px 0px;
    width: 100%;
    box-sizing: border-box;
    font-size: 1.2em;
    transition: box-shadow 200ms linear;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    padding: 13px 45px;
}

/* borrowed*/
.form-input:focus{
    box-shadow: 0 0 0px 3px rgba(94, 149, 68,0.5);
}

.invalid-input{
    box-shadow: 0 0 0px 3px rgba(173, 37, 37, 0.5);
}

.submit-btn{
    padding: 10px 20px;
    border: none;
    font-size: 1.3em;
    cursor: pointer;
    background-color: 
    rgba(94, 149, 68,1);
    color: white;
}

.submit-container{
    padding-bottom: 20px;
}

.switch-login{
    color: rgb(0, 81, 255);
}

.text-wrapper{
    text-align: center;
    padding-bottom: 20px; 
    font-size: 1.1em;
}

.switch-login{cursor: pointer;}

.shake-form {
    animation: shake_form 500ms;
}

.error-msg{
    position: absolute;
    bottom: 0px;
    left: 25px;
}


@keyframes shake_form {
    25%{transform: translateX(-40px);}
    50%{transform: translateX(40px);}
    75%{transform: translateX(-40px);}
}