<div class="main">
    <div class="section hero flex col center-xy">
        <p class="nav-title header text">Garage Sale Haven</p>
        <div class="hero-nav-container flex col center-xy">
            <div class="hero-nav-wrapper flex">
                <div class="hero-nav flex col center-xy">
                    <div class="icon-wrapper flex center-xy">
                        <i class="icon fa-solid fa-tag"></i>
                    </div>
                    <a href="#" class="nav-text">Find Sales</a>
                </div>
                <div class="hero-nav flex col center-xy">
                    <div class="icon-wrapper flex center-xy">
                        <i class="icon fa-solid fa-bag-shopping"></i>
                    </div>
                    <a href="#" class="nav-text">Shop Items</a>
                </div>
            </div>
            <div class="search">
                <i class="search-icon fa-solid fa-magnifying-glass"></i>
                <input #searchLocation class="searchLocation" [(ngModel)]="searchLocations"  type="text" placeholder="Search any location...">
            </div>
        </div>
    </div>
    <div class="container map-search">
        <div style="margin-bottom: 10px;" class="intro-wrapper">
            <p class="text intro">Sales near Lombard, IL</p>
        </div>
        <google-map
            class="map"
            width="100%"
            height="350px"
            [zoom]="6"
            [center]="currentLocation$|async"
        >
        <map-circle
            [options]="{strokeColor: '#4285F4',fillColor: '#4285F4'}"
            [radius]="searchConfig.radius*METERS_PER_MILE"
            [center]="currentLocation$|async"
        >
        </map-circle>
        <map-marker
            *ngFor="let marker of markers$|async"
            [position]="marker.position"
            [info]="marker.info"
            [title]="marker.title"
            [label]="marker.label"
        >
        </map-marker>
        </google-map>

        <div class="filter-options flex sp-between">
            <div class="filter-container fc-left">
                <label style="display: inline-block; margin: 0;" for="search_zip" class="filter-label ">Search an Address</label>
                <input #searchAddressRef [(ngModel)]="searchAddress" id="search_zip" type="text" placeholder="123 Easy Street">
            </div>
            <app-map-slider [sliderValue]="100" [max]="200"  (radius)="onRadiusUpdate($event)"></app-map-slider>
        </div>
    </div>
    <div class="container items-sale">
        <div class="intro-wrapper">
            <p class="text intro">Garage Sales in My Area</p>
        </div>

       <!-- owl carousel -->
       <!-- If there are search results available, display them. -->
       <div *ngIf="!isLoadingSearchedSales; else searchSalesLoader">
        <owl-carousel-o *ngIf="saleSearchResults$.value !==null&& saleSearchResults$.value.length!==0 ; else noSearchResults" [options]="customOptions">
            <ng-template *ngFor="let sale of saleSearchResults$|async" carouselSlide>
                <app-sale-feature 
                [sale]="sale"
                (click)="onNavigate(['sale',sale._id])"
                ></app-sale-feature>
            </ng-template>  
          </owl-carousel-o>
       </div>
      <!-- Otherwise, display that there are no search results -->
      <ng-template #noSearchResults>
        <div class="no-results flex center-xy col">
            <p class="intro thin">No sales found in your area!</p>
            <i style="color: gray; font-size: 4em;" class="fa-solid fa-triangle-exclamation"></i>
        </div>
      </ng-template>
      <ng-template #searchSalesLoader>
        <div class="no-results flex center-xy col ld-container">
            <app-loading></app-loading>
            <p class="thin">Loading Sales</p>
        </div>
      </ng-template>
    </div>

    <!-- Display any available top sales -->
    <div *ngIf="!isLoadingTopSales; else popularSalesLoader">
        <div 
            *ngIf="topSaleSearchResults$.value !==null&& 
                    topSaleSearchResults$.value.length!==0; 
                    else noPopularSales" 
            class="container popular-garage-sales"
        >
            <p style="margin-bottom: 15px;" class="text intro">Popular Sales</p>
            <!-- Include list of top 5 or so sales i.e sales with the most visits -->
            <app-sale-listing 
            *ngFor="let sale of (topSaleSearchResults$|async)" 
            [sale]="sale" 
            (click)="onNavigate(['sale',sale._id])">
            </app-sale-listing>
        </div>
    </div>

    <!-- If there no no top sales available from API, display "no sales found" to user-->
    <ng-template #noPopularSales>
        <div class="container popular-garage-sales">
            <p class="text intro">Popular Sales</p>
            <div class="no-results flex center-xy col">
                <p class="intro thin">No sales found in your area!</p>
                <i style="color: gray; font-size: 4em;" class="fa-solid fa-triangle-exclamation"></i>
            </div>
        </div>
    </ng-template>

    <!-- Display loading screen for the most popular sales -->
    <ng-template #popularSalesLoader>
        <div class="container popular-garage-sales">
            <p class="text intro">Popular Sales</p>
            <div class="load-wrap flex center-xy col">
                <app-loading></app-loading>
                <p class="text thin">Loading Sales</p>
            </div>
        </div>
    </ng-template>
</div>
