/* .main{box-sizing: border-box;} */

.hero{
    min-height: 50vh;
    width: 100%;
    position: relative;
    background: rgb(20, 20, 20);
    box-sizing: border-box;
}



.hero::before{
    background-image: url(https://mlbostoncommon.com/get/files/image/galleries/interior-deign-spacejoy-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

.hero-nav-container, .nav-title{
    z-index: 2;
}

.nav-title{ color: var(--white-2);}
.hero-nav-container{color: var(--white-3);}
.hero-nav{
    text-align: center;
    margin: 20px;
}

.icon-wrapper{
    border-radius: 50%;
    font-size: 2.5em;
    border: 3px solid var(--white-3);
    text-align: center;
    height: 70px;
    width: 70px;
    cursor: pointer;
}

.icon-wrapper:hover{
    background: #4285F4;
}


.search{position: relative;}

.search-icon{
    position: absolute;
    color: black;
    top: 13px;
    right: 10px;
    font-size: 1.3em;
    cursor: pointer
    ;
}

.searchLocation, #search_zip {
    outline: none;
    border: none;
    font-size: 1.2em;
    
}

#search_zip{
    padding: 10px;
    width: 150px;
    transition: 50ms linear border-bottom;
}

#search_zip:focus{
    border-bottom: 2px solid var(--dark);

}

.searchLocation{
    padding: 10px 40px 10px 10px;
    width: 225px;
}

.nav-text{
    text-decoration: none;
    font-size: 1.5em;
    color: var(--white-3)
}

/*When the route is active*/
.nav-text-active{
    border-bottom: 2px solid lightgray;
}

.container{
    background: var(--white-2);
    padding: 30px;
    width: 75%;
    margin: 30px auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.filter-container{

}

.fc-left{margin-left: 40px;}
.fc-right{margin-right: 40px;}

.filter-container >*{
    display: block;
    margin: 10px 0px;
    text-align: left;
}

.filter-options{
    margin-top: 20px;
    padding-top: 20px;
    text-align: center;
}
.section{border: 1px solid black;}
.items-sale{position: relative;}

.scroller{
position: relative;
padding: 30px;
box-sizing: border-box;
width: 100%;
background: var(--white-3);
margin-top: 20px;
overflow: hidden;
}

.load-wrap{
    margin: 20px 0px;
}

.no-results p{
}

  .intro-wrapper{margin-bottom: 20px;}

    @media screen and (max-width: 580px){
        /* .container{
            width: 100%;
        } */
        .filter-options{
            flex-direction: column;
            justify-content: center;
        }
        .filter-container{
            margin: 0px;
        }
        .fc-left{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        #search_zip{
            /* width: 100%; */
        }
        .hero, .intro{text-align: center;}
        .container.map-search{
            /* width: 100%; */
            margin-top: 0px;
        }
        
    }