<!-- <div class="back-nav">
    <button mat-ripple matRippleColor="rgba(207, 207, 207,0.2)" id="backbutton"><i class="fa-solid fa-chevron-left"></i> Back to home</button>
</div> -->
<div class="main">
    <div class="layout-container">
        <div class="intro-wrapper">
            <p class="text thin header">Catalogue Search</p>
        </div>
        <div class="content">
            <!-- Google map goes here -->
            <!-- <google-map
            height="300px"
            width="100%"
            ></google-map> -->
            <div class="search-options flex wrap sp-around">
                <div class="searchbar-wrapper">
                    <input type="text" id="searchbar" placeholder="Search items and sales">
                    <i class="search-icon fa-solid fa-magnifying-glass"></i>
                </div>
                <div class="t">
                    slider goes here
                </div>
                <!-- slider component goes here -->
            </div>
            <div class="sales-list">
                <app-sale-listing></app-sale-listing>
                <app-sale-listing></app-sale-listing>
                <app-sale-listing></app-sale-listing>
                <app-sale-listing></app-sale-listing>
                <app-sale-listing></app-sale-listing>
                <app-sale-listing></app-sale-listing>
            </div>
        </div>
    </div>
</div>
