<div class="main">
    <div class="layout-container">
        <div class="intro-wrapper">
            <p class="text header">Catalogue Search</p>
        </div>
        <div class="content">
            <!-- Google map goes here -->
            <!-- <google-map
            height="400px"
            width="100%"
            ></google-map> -->
            <div class="search-options flex center-y wrap sp-around">
                <div class="search-wrapper">
                    
                </div>
                <div class="searchbar-wrapper">
                    <input type="text" id="searchbar" placeholder="Filter items and sales">
                    <i class="search-icon fa-solid fa-magnifying-glass"></i>
                </div>
                <div class="filter-wrapper">
                    <button (click)="activateDropdownFilter = !activateDropdownFilter" matTooltip="Filter Settings" mat-fab style="background: #5e9544; color: white;" aria-label="Example icon button with a home icon">
                        <mat-icon>tune</mat-icon>
                    </button>
                </div>
                <div class="buttons">
                    <button class="filter-btn active-filter-btn">Search Sales</button>
                    <button class="filter-btn">Search Items</button>
                </div>
                <!-- slider component goes here -->
                <app-map-slider (radius)="radius = $event" style="color: white;"></app-map-slider>
                <div [ngClass]="{'toggle-dropdown-active':activateDropdownFilter}" class="toggle-dropdown">
                    <div class="toggle-header">
                        <p class="text">Filter Options</p>
                    </div>
                    <div class="filter-wrapper flex sp-around wrap">
                        <!-- Search by address, sale interval, alphabetical sort, -->
                        <div [formGroup]="saleSection" class="sales-section">
                            <div class="filter-header">
                                <p class="text thin toggle-header">Sales Search</p>
                            </div>
                            <div class="sales-filters">
                                <div class="input-group">
                                    <label class="field-descriptor">Search by Address</label>
                                    <input formControlName="address" placeholder="123 South Main St." type="text" class="filter-input">
                                </div>
                                <div class="input-group">
                                    <div class="input-group">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Search by Sale Date</mat-label>
                                            <mat-date-range-input [rangePicker]="picker">
                                              <input matStartDate formControlName="startDate" placeholder="Start date">
                                              <input matEndDate formControlName="endDate" placeholder="End date">
                                            </mat-date-range-input>
                                            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-date-range-picker #picker></mat-date-range-picker>
                                          </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="combined-section">
                            <div class="filter-header">
                                <p class="text thin toggle-header">Filter</p>
                            </div>
                            <div class="form-section">
                                <mat-checkbox color="primary" >Sort alphabetically</mat-checkbox>
                            </div>
                        </div>
                        <div class="items-section">
                            <!-- search by price range, alphabetical,  -->
                            <div class="items-filter-header">
                                <p class="text thin filter-header toggle-header">Items Search</p>
                            </div>
                                
                            <div class="items-filters">
                                <div class="input-group">
                                    <label class="field-descriptor" min="1">Price range</label>
                                    <p style="margin: 0px 10px;"class="text">$</p>
                                    <input type="number" placeholder="Min" class="filter-input price-input">
                                    <p style="margin: 0px 10px" class="text"><span class="text bold">-</span> $</p>
                                    <input type="number" placeholder="Max" class="filter-input price-input" min="1">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sales-list">
                <app-sale-listing
                *ngFor="let sale of (saleResults$|async)"
                [sale]="sale"
                ></app-sale-listing>
            </div>
        </div>
    </div>
</div>
