<div class="main">
    <div class="layout-container">
        <div class="intro-wrapper">
            <p class="text header">Catalogue Search</p>
        </div>
        <div class="content">
            <!-- Google map goes here -->
            <google-map
            #googleMap
            height="450px"
            width="100%"
            [center]="currentPosition"
            [zoom]="6"
            map-circle="foo"
            >
                <map-circle
                [options]="{strokeColor: '#4285F4',fillColor: '#4285F4'}"
                [radius]="radius*METERS_PER_MILE"
                [center]="currentPosition"
                ></map-circle>

                <map-marker
                *ngFor="let marker of (markers$|async)"
                [position]="marker.position"
                [info]="marker.info"
                [title]="marker.title"
                [label]="marker.label"
                >
                </map-marker>
        
            </google-map>
            <div class="search-options flex center-y wrap sp-around">
                <!-- <div class="search-wrapper">
                    
                </div> -->
                
                <div class="filter-wrapper">
                    <button
                    matTooltip="Refresh Query"
                    (click)="onNewQuery()"
                    mat-fab
                    style="background-color:#5e9544; color:white; margin: 0 10px"
                    >
                    <mat-icon>sync</mat-icon>
                    </button>
                    <button 
                    (click)="activateDropdownFilter = !activateDropdownFilter" 
                    matTooltip="Filter Settings" mat-fab 
                    style="background: #5e9544; color: white;"
                    >
                        <mat-icon>tune</mat-icon>
                    </button>
                </div>
                <div class="buttons">
                    <button 
                    mat-ripple
                    matRippleColor="rgba(0, 0, 0, 0.144)"
                    (click)="onToggleSearchType('sales')"
                    [ngClass]="{'active-filter-btn':searchSales}"
                    class="filter-btn active-filter-btn">Search Sales</button>
                    
                    <button
                    [ngClass]="{'active-filter-btn':!searchSales}"
                    mat-ripple
                    matRippleColor="rgba(0, 0, 0, 0.144)"
                    (click)="onToggleSearchType('items')"
                    class="filter-btn">Search Items</button>
                </div>
                <!-- slider component goes here -->
                <app-map-slider 
                [max]="200"
                [sliderValue]="100"
                (radius)="onUpdateRadius($event)" 
                style="color: white;"></app-map-slider>
                <div [ngClass]="{'toggle-dropdown-active':activateDropdownFilter}" class="toggle-dropdown">
                    <div class="toggle-header">
                        <p class="text">Filter Options</p>
                    </div>
                    <div class="filter-wrapper flex sp-around wrap">
                        <!-- Search by address, sale interval, alphabetical sort, -->
                        <div class="sales-section">
                            <div class="filter-header">
                                <p class="text thin toggle-header">Sales Search</p>
                            </div>
                            <div class="sales-filters">
                                <div class="input-group">
                                    <label class="field-descriptor">Search Location/Zipcode</label>
                                    <input [(ngModel)]="address" placeholder="123 South Main St." type="text" class="filter-input">
                                </div>
                                <div [formGroup]="saleSection">
                                    <div class="input-group">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Search by Sale Date</mat-label>
                                            <mat-date-range-input [rangePicker]="picker">
                                                <input matStartDate formControlName="start_date" placeholder="Start date">
                                                <input matEndDate formControlName="end_date" placeholder="End date">
                                            </mat-date-range-input>
                                            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-date-range-picker #picker></mat-date-range-picker>
                                        </mat-form-field>
                                    </div>
                                    <div class="input-group">
                                        <mat-checkbox 
                                        formControlName="sortMostPopular" 
                                        color="primary" 
                                        >Sort Most Popular</mat-checkbox>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div [formGroup]="itemSection" class="items-section">
                            <!-- search by price range, alphabetical,  -->
                            <div class="items-filter-header">
                                <p class="text thin filter-header toggle-header">Items Search</p>
                            </div>
                                
                            <div class="items-filters">
                                <div formGroupName="priceFilters" class="input-group">
                                    <label class="field-descriptor" min="1">Price range</label>
                                    <p style="margin: 0px 10px;"class="text">$</p>
                                    <input 
                                    [ngClass]="{'invalid-input':!itemSection.get('priceFilters').valid}"
                                    type="number" 
                                    placeholder="Min" 
                                    class="filter-input price-input"
                                    formControlName="minPrice"
                                    >
                                    <p style="margin: 0px 10px" class="text"><span class="text bold">-</span> $</p>
                                    <input 
                                    [ngClass]="{'invalid-input':!itemSection.get('priceFilters').valid}"
                                    type="number"
                                     placeholder="Max" 
                                     class="filter-input price-input" 
                                     min="1"
                                     formControlName="maxPrice"
                                     >
                                     <br>
                                     <p 
                                     class="thin text input-error-msg"
                                     *ngIf="!itemSection.get('priceFilters').valid&&itemSection.get('priceFilters').touched"
                                     >Max price range must be greater than min price range</p>
                                </div>
                                <div class="input-group">
                                    <label style="display:block;" for="mat_radio_group" >Sort by price</label>
                                    <br>
                                    <mat-radio-group 
                                    id="mat_radio_group"
                                    aria-label="Select an option"
                                    formControlName="sortByPrice"
                                    >
                                        <mat-radio-button 
                                        color="primary"
                                        style="margin-right: 10px" value="asc">Ascending</mat-radio-button>
                                        <mat-radio-button
                                        color="primary" 
                                        value="desc">Descending</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- If the a query is being performed -->
            <ng-template #loading >
                <div class="error-container flex center-xy col">
                    <app-loading></app-loading>
                    <p class="text thin">Loading...</p>
                </div>
            </ng-template>
            <!-- otherwise, display the results after a query is executed -->
            <div *ngIf="!isLoading; else loading">
                <!-- If the server does not respond with an error -->
                <div *ngIf="!serverError; else displayError">
                    <!-- Display results if any, otherwise display no results template -->
                    <div *ngIf="!noResults; else emptyResults">
                        <!-- If the user is searching for sales -->
                        <div *ngIf="searchSales" class="sales-list">
                            <app-sale-listing
                            *ngFor="let sale of (saleResults$|async)"
                            [sale]="sale"
                            (click)="onNavigate(['sale',sale._id])"
                            ></app-sale-listing>
                        </div>
                        <!-- If the user is searching for items -->
                        <div *ngIf="!searchSales" class="item-container flex wrap center-xy">
                            <app-item-listing 
                            *ngFor="let item of (itemResults$|async)"
                            [itemData]="item"
                            (click)="onNavigate(['viewItem',item._id])"
                            >
                            </app-item-listing>
                        </div>
                    </div>
                    <ng-template #emptyResults>
                        <div class="error-container flex center-xy col">
                            <i style="color: rgb(231, 218, 27)" class="error-icon fa-solid fa-triangle-exclamation"></i>
                            <p class="text thin errormsg">No results were found with your filter settings.</p>
                        </div>
                    </ng-template>
                </div>
            </div>
            <ng-template #displayError>
                <div class="error-container flex center-xy col ">
                    <i style="color: rgb(196, 50, 50)" class="error-icon fa-solid fa-triangle-exclamation"></i>
                    <p class="text thin errormsg">
                        Unable to fetch data. Server replied with status code {{errorStatus}}
                    </p>
                </div>
            </ng-template>
        </div>
    </div>
</div>
