.main{
    max-width: 1400px;
    margin: 90px auto 0 auto;
}

.layout-container {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;    background: var(--white-2);
}

.back-nav{
    width: 100%;
    /* margin-top: 55px; */
    position: sticky;
    top: 65px;
    left: 0px;
    z-index: 2;
    background: white;
    padding: 10px;
}

#backbutton{
    border: none;
    padding: 10px;
    font-weight: 300;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    margin-left: 150px;
}

.intro-wrapper{
    padding: 20px;
    background: var(--dark);
    color: white;
    font-weight: bold;
}

.sales-list, .item-container{
    padding: 0px 20px 5px 20px;
   
}

.content{
    position: relative;
}


.item-container >*{
    margin: 30px;
}

.search-options{
    position: sticky;
    top: 75px;
    left: 0px;
    background: var(--dark);
    padding: 10px;
    z-index: 2;
}

.searchbar-wrapper{
    position: relative;
}

#searchbar {
    outline: none;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.search-icon{ position: absolute; right: 10px; top: 10px;}

.filter-btn{
    border: none;
    background: white;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 1.2em;
    margin: 0px 10px;
    cursor: pointer;
}

.filter-btn:hover{
    background-color: #5e9544;
    color: white;
}


.active-filter-btn{
    background: #5e9544;
    color: white;
}

.toggle-dropdown{
    /* position: absolute; */
    /* bottom: -275px; */
    /* left: 0; */
    /* z-index: 2; */
    /* padding: 15px; */
    background: white;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 2px solid black;
    overflow: hidden;
    opacity: 0;
    max-height: 0px;
    display: block;

    /* margin: 0; */
    transition: max-height .5s ease-out, opacity .5s ease-out, padding .5s ease-out,
    margin .5s ease-out;
}

.toggle-dropdown-active{
    padding: 15px;
    transition: max-height .5s ease-out, opacity .5s ease-out, padding .5s ease-out,
    margin .5s ease-out;
    margin-top: 10px;
    opacity: 1;
    max-height: 900px;
}

.toggle-header{
    font-size: 1.2em;
}

.input-group, .filter-header{
    margin: 15px 0;
}

.input-group{position: relative;}

.field-descriptor{display: block; margin: 5px 0px;}
.input-group>.price-input, .input-group >p {display: inline-block;}

.filter-input{
    padding: 10px;
    outline: none;
    border: 1px solid lightgray;
    transition: box-shadow 200ms linear;
}

.filter-input:focus{
    border: none;
    outline: none;
    box-shadow: 0 0 2px 2px rgba(94, 149, 68);
}

.error-container{
    width: 100%;
    height: 30vh;
    text-align: center;
}

.invalid-input{
    box-shadow: 0 0 2px 2px red;
    
}

.errormsg{
    font-size: 1.4em;
}

.input-error-msg{
    margin-top: 5px;
    color: red;
}

.error-icon{
    font-size: 3em; margin-bottom: 20px;
}

@media screen and (max-width: 700px){
    .errormsg{
        font-size: 1em;
    }

    .error-icon{
        font-size: 2em;
    }
}





