<div #mainRef class="main">
    <div *ngIf="saleData.gallery.length>=3" class="card-gallery">
        <img class="img img-main" [src]="saleData.gallery[0]"  alt="">
        <img class="img img-2" [src]="saleData.gallery[1]" alt="">
        <img class="img img-3" [src]="saleData.gallery[2]" alt="">
        <div class="overlay-details">
            <div class="overlay-detail">
                <p class="text overlay-title">Garage Sale</p>
            </div>
            <div class="overlay-detail">
                <p class="text overlay-date">
                    {{saleData.start_date | formatDate}}<sup>{{saleData.start_date | formatSup}}</sup> - 
                    {{saleData.end_date | formatDate}} <sup>{{saleData.end_date | formatSup}}</sup>
                </p>
            </div>
        </div>
    </div>
    <div *ngIf="saleData.gallery.length < 3" class="single-card-gallery">
        <img class="img" [src]="saleData.gallery[0]"alt="">
        <div class="overlay-details">
            <div class="overlay-detail">
                <!-- create a title/name here possibly -->
                <p class="text overlay-title">Garage Sale</p>
            </div>
            <div class="overlay-detail">
                <p class="text overlay-date">
                    {{saleData.start_date | formatDate}}<sup>{{saleData.start_date | formatSup}}</sup> - 
                    {{saleData.end_date | formatDate}} <sup>{{saleData.end_date | formatSup}}</sup>
                </p>
            </div>
        </div>
    </div>
    <div class="card-details">
        <div class="card-detail">
            <!-- Ensure max description length of 82 -->
            <p class="text desc">
                {{saleData.description.substring(0,83)}}
                <span *ngIf="saleData.description.length > 82" class="text bold">
                    ...
                </span>
            </p>
        </div>
        <div class="card-detail">
            <p style="font-size: 0.95em" class="text thin">{{saleData.userId.fullName}}</p>
        </div>
        <div class="card-detail">
            <p class="text light thin">{{saleData.address}}</p>
        </div>
    </div>
</div>