.main{
    width: 400px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    background: var(--white-2);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    overflow: hidden;
    overflow-y: auto;
    /* transform: translateY(); */
}

.message-banner {
    box-sizing: border-box;
    padding: 5px;
    color: white;
    background: #5e9544;
}
.message{
    box-sizing: border-box;
    padding: 7px 20px;
}

.banner-left >* {
    margin-left: 20px;
}

.message-header{
    font-size: 1.3em;
}

.fa-chevron-up{
    cursor: pointer;
}


.img-wrapper{
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
}

.profile-img{
    height: 40px;
    width: 40px;
}

.dm-profile{
    height: 60px;
    width: 60px;
}

.img {
    height: 100%;
    width: 100%;
    ;
}

.fa-chevron-up{
    transition: transform 100ms linear;
}

.rotate{
    transform: rotate(180deg);
}


