.main{
    z-index: 2;
    width: 400px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    background: var(--white-2);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    overflow: hidden;
    transition: 200ms ease;
}

.minimized{
    margin-bottom: -500px
}

.message-banner {
    box-sizing: border-box;
    padding: 5px;
    color: white;
    background: #5e9544;
}
.message{
    box-sizing: border-box;
    padding: 7px 20px;
    height: 80px;
    border-bottom: 2px solid lightgray;
}

.banner-left >* {margin-left: 20px;}

.message-header{font-size: 1.3em;}

.message-right{margin-left: 10px;}

.fa-chevron-up, .fa-plus{
    font-size: 1.4em;
    margin: 0px 10px;
    cursor: pointer;
}

.fa-chevron-up:hover, .fa-plus:hover{
    transform: scale(1.05);
}


.users-messages{
    height: 500px;
    overflow-y: auto
}

.img-wrapper{
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
}

.profile-img{
    height: 40px;
    width: 40px;
}

.dm-profile{
    height: 60px;
    width: 60px;
}

.img {
    height: 100%;
    width: 100%;
    ;
}

.fa-chevron-up{
    transition: transform 100ms linear;
}

.rotate{
    transform: rotate(180deg);
}


.no-messages{
    color: gray;
    height: 50%;
}

.fa-message{ 
    font-size: 2em; 
    color: gray;
    margin: 15px 0px;
}

.no-messages p{
    font-size: 1.5em;
}


.start-message{
    border-radius: 30px;
    border: none;
    padding: 10px;
    background: var(--white-3);
    font-size: inherit;
    margin-top: 20px;
    cursor: pointer;
}