<div *ngIf="(item$|async) as item" class="main">
    <div class="sticky-navigation">

    </div>
    <div class="grid-container">
        <div class="showcase section flex center-y start-x col">
            <div class="wrapper">
                <p class="text thin">Gallery</p>
            </div>
            <div class="img-section-wrapper">
                <img class="img" [src]="item.gallery[selectedImage]"  alt="">
                <span *ngIf="item.gallery.length>1" (click)="onSelectImage('left')" class="left fa-stack" style="vertical-align: top;">
                    <i class="fa-solid fa-circle fa-stack-2x fa-inverse"></i>
                    <i class="fa-solid fa-chevron-left fa-stack-1x"></i>
                </span>
                <span *ngIf="item.gallery.length>1" (click)="onSelectImage('right')" class="right fa-stack" style="vertical-align: top;">
                    <i class="fa-solid fa-circle fa-stack-2x fa-inverse"></i>
                    <i class="fa-solid fa-chevron-right fa-stack-1x"></i>
                </span>
            </div>
            <div class="img-track">
                <div 
                *ngFor="let url of item.gallery; let i = index;"
                (click)="selectedImage=i"
                [ngStyle]="{'border': i === selectedImage?'5px solid #5e9544':'2px solid gray'}"
                class="img-track-wrapper">
                    <img [src]="url" alt="uh oh" class="img">
                </div>
            </div>
            <app-progress-bar style="width: 100%" [dateInterval]="[item.start_date,item.end_date]"></app-progress-bar>
        </div>
        <div class="view-sale section flex col">
            <div class="button-group flex">
                <button 
                [ngClass]="{'btn-toggler-active':viewContent==='desc'}" 
                mat-ripple class="button-toggler btn-toggler-active"
                (click)="viewContent ='desc'"
                >Description</button>
                <button
                [ngClass]="{'btn-toggler-active':viewContent==='terms'}" 
                mat-ripple 
                matRippleColor="rgb(94, 149, 68,0.4)" 
                class="button-toggler"
                (click)="viewContent = 'terms'"
                >Terms & Service</button>
            </div>
            <div class="sale-content">
                <p class="text thin">{{viewContent==='desc'?item.description:item.terms}}</p>
            </div>
        </div>
        <div class="detail-bar section flex col sp-between">
            <!-- Include border top and border bottom -->
            <div class="contact-detail-header">
                <p class="text intro thin">Contact The Owner</p>
            </div>
            <div class="contact-section flex center-y">
                <div class="contact-item contact-img-container flex center-xy col">
                    <div class="contact-img-wrapper">
                        <img class="img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzHQv_th9wq3ivQ1CVk7UZRxhbPq64oQrg5Q&usqp=CAU" alt="">
                    </div>
                    <p class="text thin contact-detail">{{item.saleId.userId.fullName}}</p>
                </div>
                <div class="contact-content">
                    <div class="contact-item flex center-y">
                        <i class="contact-icon fa-solid fa-phone"></i>
                        <p class="text thin contact-detail">{{item.saleId.userId.phone|formatPhone}}</p>
                    </div>
                    <div class="contact-item flex center-y">
                        <i class="contact-icon fa-solid fa-envelope"></i>
                        <p class="text thin contact-detail">{{item.saleId.userId.email}}</p>
                    </div>
                </div>
            </div>
            <div class="contact-detail-header">
                <p class="text intro">Garage Sale Location</p>
            </div>
            <div class="location-section">   
                   <!-- Angular Google map -->
                <!-- <google-map
                class="map"
                width="100%"
                height="300px">
                </google-map> -->
                <div class="location-item flex center-y">
                    <p class="text">Pickup: </p>
                    <i class="icon fa-solid fa-location-dot"></i>
                    <p class="text thin">{{item.saleId.address}}</p>
                </div>   
            </div>
            <div class="buy-now-header flex center-x">
                <p class="text thin intro">Purchase for ${{item.price}}</p>
            </div>
            <div class="buy-now-item flex center-x">
                <button mat-ripple class="buy-now">Buy Now</button>
            </div>
        </div>
        <div class="direct-message section">
            <p class="text intro">Send A Direct Message</p>
            <p style="font-size: 1.2em;"class="text thin">Ask the owner about any inquiries or details about products, prices, availability of products, etc.</p>
            <button mat-ripple id="dm">Direct Message</button>
        </div>
    </div>
    <div class="section footer-item">
        <div class="sale-header">
            <p class="text thin intro">More From This Sale</p>
        </div>
       <!-- Carousel component goes here -->
       <owl-carousel-o [options]="customOptions">
        <ng-template *ngFor="let featuredItem of (featuredItems$|async)" carouselSlide>
            
            <app-item-listing 
            [itemData]="featuredItem"
            (click)="onNavigate(['viewItem',featuredItem._id])"
            ></app-item-listing>
        </ng-template>  
      </owl-carousel-o>
      <!-- span comment goes here -->
    </div>
    <div class="footer-item section">
        <div class="sale-header">
            <p class="text thin intro">Explore Other Sales</p>
        </div>
        <app-sale-listing 
        *ngFor="let sale of (featuredSales$|async)" 
        [sale]="sale"
        (click)="onNavigate(['sale',sale._id])"
        ></app-sale-listing>
    </div>
</div>