.main{
    max-width: 1350px;
    margin: 100px auto 0 auto;
}
/* Grid layout specifications */

.grid-container{
    display: grid;
    grid-template-areas: 
    'showcase showcase detail detail'
    'showcase showcase detail detail'
    'viewsale viewsale detail detail'
    'dm dm detail detail';
    gap: 30px;
    margin-bottom: 30px;
}

.section{
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    background-color: white;
    color: black;
    padding: 20px;
}
.showcase{grid-area: showcase;}
.view-sale{grid-area: viewsale;}
.detail-bar{grid-area: detail;}
.direct-message{grid-area: dm;}
.img-track{
    max-width: 700px;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    box-sizing: border-box;
    background: var(--white-2);
    overflow-x: auto;
}

.img-section-wrapper{
    height: 300px;
    width: 600px;
    box-sizing: border-box;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    position: relative;
}

.img-track-wrapper{
    min-height: 100px; 
    min-width: 100px; 
    max-height: 100px;
    max-width: 100px;
    margin: 0px 7px;
    border: 2px solid gray;
    border-radius: 5px;
    overflow: hidden;
    box-sizing: border-box;
}

.img{
    height: 100%; 
    width: 100%;
    object-fit: cover;
    box-sizing: border-box;
}

.left, .right {
    position: absolute;
    top: 200px;
    cursor: pointer;
    transition: transform 50ms linear;
}

.fa-circle {
    color: #5e9544;
}

.fa-chevron-left, .fa-chevron-right{
    color: white;
}

.left:hover, .right:hover{
    transform: scale(1.1);
}

.left{ left: 20px;}
.right{right: 20px;}

.wrapper{
    background: #5e9544;
    width: 100%;
    height: 100%;
}

.contact-icon{
    font-size: 2em;
    margin-right: 5px;
}

.contact-item{
    margin: 10px 0px;
    text-align: center;
    width: 100%;
}

.contact-img-wrapper{
    overflow: hidden;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.img{
    height: 100%;
    width: 100%;
    object-fit: cover;;
}

.contact-detail{font-size: 1.5em;}
.contact-img-container{
    border-right: 2px solid #5e9544;
    margin-right: 15px;
    padding-right: 15px;
}

.location-item{
    font-size: 1.3em;;
    margin: 20px 0px;
}

.location-section{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px;
}

.icon{margin: 0 5px;}

.buy-now-section{margin: 20px 0px; text-align: center;}
.buy-now{
    text-align: center;
    padding: 10px;
    background: #5e9544;
    border: none;
    color: white;
    font-weight: bold;
    width: 50%;
    margin: 20px 0px;
    font-size: 1.4em;
    /* margin-top: 10px; */
    cursor: pointer;
    transition: 100ms linear background;
}
.buy-now-header{
    margin-top: 10px;
}

.buy-now:hover{
    background: #53853c;
}

.button-group{
    margin-bottom: 10px;
}

.button-toggler{
    background: var(--white-2);
    border: none;
    padding: 10px;
    transition: 100ms linear background;
    border: 1px solid lightgray;
    cursor: pointer;
}

.button-toggler:hover{
    background: var(--white-3);
}

.btn-toggler-active{
    background: #5e9544;
    color: white;
}

.btn-toggler-active.button-toggler:hover{
    background: #5e9544;
}

.direct-message{
    text-align: center;
}

.direct-message >*{
    margin: 10px 0px;
}

#dm{
    border: none;
    background: #5e9544;
    padding: 10px 15px;
    color: white;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
    transition: 100ms linear background;
}

#dm:hover{
    background: #53853c;
    /* color: rgb(94, 149, 68,0.4); */
}

.footer-item{
    margin: 20px 0px;
    position: relative;
}

.sale-header{
    margin-bottom: 20px;
}

/* .slider-left-toggle, .slider-right-toggle{
    top: 150px;
    position: absolute;
}
.slider-left-toggle{left: 0px;}
.slider-right-toggle{right:0px;} */
@media screen and (max-width: 1165px){

    .grid-container{
        grid-template-columns: 1fr;
        grid-template-areas: 
        'showcase'
        'detail'
        'viewsale'
        'dm';
    }
.contact-section{flex-direction: column;}
.contact-img-container{border-right: none;}
.contact-content{text-align: center;}
.contact-item{justify-content: center;}
    .grid-container>*{
        width: 90%;
        margin: 0 auto;
    }
    .img-track{width: 100%; }
}


@media screen and (max-width: 670px){
    .img-section-wrapper{width: 100%;}
   
    .contact-item{
        justify-content: center;
        margin-bottom: 20px;
    }

    .img-track-wrapper{
        min-height: 50px; 
        min-width: 50px; 
        max-height: 50px;
        max-width: 50px;
    }

    .sale-content{
        font-size: 0.85em;
        line-height: 1.4em;
    }

    .img-track{width: 100%;}
    .grid-container >*{
        width: 340px;
    }
   
}