<div class="main">
    <div class="grid-container">
        <div class="showcase section flex center-xy col">
            <div class="img-section-wrapper">
                <img class="img" src="https://cloudfront-us-east-1.images.arcpublishing.com/advancelocal/Y5SVOBNZVBHDZDHVJQD4IJ77NU.jpg" alt="">
                <span class="left fa-stack" style="vertical-align: top;">
                    <i class="fa-solid fa-circle fa-stack-2x fa-inverse"></i>
                    <i class="fa-solid fa-chevron-left fa-stack-1x"></i>
                </span>
                <span class="right fa-stack" style="vertical-align: top;">
                    <i class="fa-solid fa-circle fa-stack-2x fa-inverse"></i>
                    <i class="fa-solid fa-chevron-right fa-stack-1x"></i>
                </span>
            </div>
            <div class="img-track">
                <!-- Add the list of gallery images of the item -->
                <div class="img-track-wrapper">
                    <img src="https://cloudfront-us-east-1.images.arcpublishing.com/advancelocal/Y5SVOBNZVBHDZDHVJQD4IJ77NU.jpg" alt="" class="img">
                </div>
                <div class="img-track-wrapper">
                    <img src="https://cloudfront-us-east-1.images.arcpublishing.com/advancelocal/Y5SVOBNZVBHDZDHVJQD4IJ77NU.jpg" alt="" class="img">
                </div>
                <div class="img-track-wrapper">
                    <img src="https://cloudfront-us-east-1.images.arcpublishing.com/advancelocal/Y5SVOBNZVBHDZDHVJQD4IJ77NU.jpg" alt="" class="img">
                </div>
                <div class="img-track-wrapper">
                    <img src="https://cloudfront-us-east-1.images.arcpublishing.com/advancelocal/Y5SVOBNZVBHDZDHVJQD4IJ77NU.jpg" alt="" class="img">
                </div>
                <div class="img-track-wrapper">
                    <img src="https://cloudfront-us-east-1.images.arcpublishing.com/advancelocal/Y5SVOBNZVBHDZDHVJQD4IJ77NU.jpg" alt="" class="img">
                </div>
            </div>
        </div>
        <div class="view-sale section">
        </div>
        <div class="detail-bar section">
        </div>
        <div class="direct-message section">
        </div>
    </div>
    <div class="main-footer">
        <div class="section">

        </div>
        <div class="section">

        </div>
        <div class="recommended-sales">

        </div>
    </div>
</div>
