<div class="main flex center-xy">


    <div 
    [ngClass]="{'shake':shakeForm}"
    *ngIf="true; else loading"  
    [formGroup]="loginForm" 
    class="login-container">
        <div class="header-wrapper">
            <p class="text intro">Garage Sales</p>
        </div>
        <div class="descriptor">
            <p class="text thin">Login</p>
        </div>
        <div class="input-container">
            <label class="label" for="email">Username</label><br>
            <input 
            autocomplete="off"
            class="input" 
            formControlName="email" 
            id="email"
            type="email" 
            placeholder="alice@gmail.com"
            >
            <mat-icon class="left-icon">alternate_email</mat-icon>
        </div>
        <div class="divider"></div>
        <div class="input-container">
            <label class="label" for="password">Password</label><br>
            <input 
            autocomplete="off" 
            formControlName="password" 
            [type]="showPasswordVisibility?'password':'text'" 
            id="password" 
            class="input"
            >
            <mat-icon 
            (click)="showPasswordVisibility = false"
            *ngIf="showPasswordVisibility" 
            matTooltip="enable visibilty"
            [matTooltipShowDelay]="1500"
            class="right-icon">visibility</mat-icon>
            <mat-icon 
            (click)="showPasswordVisibility=true"
            *ngIf="!showPasswordVisibility" 
            [matTooltipShowDelay]="1500"
            matTooltip="disable visibility"
            class="right-icon">visibility_off</mat-icon>
            <mat-icon class="left-icon">lock</mat-icon>
        </div>
        <div class="submit-wrapper flex center-xy">
            <button
            (click)="onSubmit()" 
            mat-ripple
            matRippleColor="rgba(0, 0, 0, 0.083)"
            class="submit-btn">{{loginMode?"Login":"Signup"}}</button>
        </div>
        <div class="click-here">
            <p class="text thin">
                {{loginMode?"Need an account?":"Already a member?"}} <br>
                <span (click)="loginMode = !loginMode" class="login-options">Click here to {{!loginMode?"sign up!":"login!"}}</span></p>
        </div>
    </div>
    <ng-template #loading>
        <div class="login-container loader-container flex center-xy col">
            <div class="loader"></div>
            <p class="text thing">Logging in...</p>
        </div>
    </ng-template>

</div>
 