.create-sale-form{
    max-width: 1100px;
    margin: 100px auto 0 auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; 
    background: white;
    border-radius: 15px;
    overflow: hidden;
}

.create-sale-header{
    background: var(--dark);
    text-align: center;
    color: white;
    padding: 40px; 
    position: relative;
}

.input-cols-wrapper{width: 100%}

.input-container{
    margin: 50px 0px;
    position: relative;
}

.form-input, .img-input {
    outline: none;
    background: var(--white-2);
    border: none;
    border-radius: 4px;
    margin: 10px 0px;
    box-sizing: border-box;
    font-size: 1.2em;
    transition: box-shadow 200ms linear;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}


.form-textarea {
    padding: 10px;
    box-sizing: border-box;
    resize: none;
    width: 750px;
    height: 150px;
    font-size: 1.2em;
    font-family: inherit;
    outline: none;
    border: none;
    transition: box-shadow 200ms linear;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

.form-input{
    width: 100%;
    padding: 13px 45px;
}

.img-input{
    width: 750px;
    padding: 13px 45px;
}

.form-input:focus, .img-input:focus, .form-textarea:focus {
    box-shadow: 0 0 0px 3px rgba(94, 149, 68,0.5);
}

.error-input {
    box-shadow: 0 0 0px 3px rgba(218, 50, 50, 0.5);
}

.form-text-wrapper{
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.required, .error{color: red;}
.form-text-intro{margin-bottom: 20px;}



.gallery-wrapper{
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}



.img-input-wrapper{ 
    position: relative;

}

.img-btn {
    padding: 10px 20px;
    font-size: 1.2em;
    color: white;
    border: none;
    background: #5e9544;
    cursor: pointer;
    margin-top: 20px;
}

.camera-icon, .input-icon, .exit-icon, .icon-right{
    position: absolute;
    color: gray;
    font-size: 1.4em;
}

.exit-icon{
    top: 20px;
    left: 20px;
    color: white;
    cursor: pointer;
    transition: transform 100ms linear;
}

.exit-icon:hover{transform: scale(1.1);}
.icon-right:hover{transform: scale(1.2);}

.icon-right{
    right: 15px;;
    top: 27px;
    cursor: pointer;
    font-size: 0.9em;
    transition: 100ms linear transform;
}


.camera-icon{
    top: 23px;
    left: 13px;

}

.input-icon{
    top: 41px;
    left: 13px;
}


.btn-wrapper{
    text-align: center;
    margin-bottom: 80px;
}


.img{
   height: 100%;
   width: 100%;
   object-fit: cover; 
}

.item-img-wrapper{
    height: 75px;
    width: 75px;
    border-radius: 5px;
    overflow: hidden;
    /* border: 2px solid gray; */
}

.item-container{
    background: var(--white-2);
    position: relative;
    margin: 10px 0;
    padding: 5px;
    cursor: pointer;
    max-width: 543px;
    transition: box-shadow 200ms ease;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}


.options{
    position: absolute;
    color: gray;
    cursor: pointer;
    transition: transform 75ms linear;
    top: 5px;
    right: 15px;
}

.options:hover{
    transform: scale(1.3);
}

.item-container:hover{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}

.item-text{
    box-sizing: border-box;
    padding: 5px;
}

.item-text > p:nth-child(1){
    margin: 5px 0;
}

.item-price{
    font-size: 1.5em;
}

.item-price>p:nth-child(2){
    font-size: 0.5em;
    margin-top: 5px;
}


/*Small screens and mobile*/
@media screen and (max-width: 900px) {
    .input-cols-wrapper{flex-direction: column;}
    .input-container, .img-input-wrapper{padding: 10px;}
    .input-container{margin: 25px 0px;}
    .form-textarea{width: 100%}
    .input-icon{
        top: 52px;;
        left: 20px;
    }
    .camera-icon{
        top: 34px;
        left: 20px;
    }
    .form-text-wrapper{
        padding: 20px;
        box-sizing: border-box;
    }
    .img-input{
        width: 100%;
    }
}



@media  screen and (max-width: 510px) {
    .item-img-wrapper{
        display: none;
    }
}